<div class="row">
    <div class="col-6 offset-3">
        <br>
        <h2 class="text-center">Sign up</h2>
        <br>
        <form name="sign-up" (ngSubmit)="f.form.valid && signUp()" #f="ngForm" novalidate>
              <div class="col-9">
            <div class="row justify-content-center align-self-center">
                <button [ngClass]="{ 'btn-outline-success': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreateProveedor()">Registrarse como Proveedor</button>
            </div>   
           <div *ngIf="showCreateProveedor">
                <app-proveedor-create (cancel)="showHideCreateProveedor()" (create)="ngOnInit()"></app-proveedor-create>
            </div>
        </div> 
              <div class="col-9">
            <div class="row justify-content-center align-self-center">
                <button [ngClass]="{ 'btn-outline-success': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreateCliente()">Registrarse como Cliente</button>
            </div>   
           <div *ngIf="showCreateCliente">
                <app-cliente-create (cancel)="showHideCreateCliente()" (create)="ngOnInit()"></app-cliente-create>
            </div>
        </div> 
        </form>
    </div>
</div>