<div class="container-fluid">
    <div class="row justify-content-center align-self-center">
        <div class="col-md-3">
            <table class="table table-bordered">
                <thead style="background-color: #dc3545;color:aliceblue">
                    <tr>
                        <th>Id</th>
                        <th>Nombre de la Tematica</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tematica of tematicas">
                        <td>
                            <dd class="figure-caption">{{tematica.id}}</dd>
                        </td>
                        <td>
                            <dd class="figure-caption" routerLink="/tematica/{{tematica.id}}">{{tematica.name}}</dd>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-5 align-self-center">
            <button *ngIf="!showCreate" [ngClass]="{ 'btn-outline-success': !showCreate, 'btn-outline-light': showCreate }" type="button"
                class="btn" (click)="showHideCreate()">Agregar tematica</button>
            <div *ngIf="showCreate">
                <app-tematica-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-tematica-create>
            </div>
        </div>
    </div>
</div>