<div class="container-fluid">
  <div class="col-md-3">
    <table class="table table-bordered">
      <thead style="background-color: #dc3545;color:aliceblue">
        <tr>          
          <th>Productos</th> 
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let producto of productos">
          <td >
            <dd class="figure-caption"  routerLink="/producto/{{producto.nombre}}">{{producto.nombre}}</dd>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>