<div class="panel-body">
    <div class="border margin">
        <p class="h3 p-3">{{notificacionDetail.mensaje}}<p> 
        <div class="row">
            <div class="col-md-3">
                <dl>     
                    <dt>Mensaje</dt>
                    <dd>{{notificacionDetail.mensaje}}</dd>
                     <dt>Tipo De Aviso</dt>
                    <dd>{{notificacionDetail.tipoDeAviso}}</dd>
                </dl>
            </div>
            
        </div>
    </div>
    <br>
            
            <br>
    <!--<app-producto-list [Productos]="productoDetail.productos"></app-productos-list>-->
</div>