<div class="row" style="padding:10px;">
  


<div class="col-md-5">
<table class="table">
  <thead style="background-color: #dc3545;color:aliceblue">
    <tr>
      <th scope="col">Id Fecha</th>
      <th scope="col">Jornada</th>
      <th scope="col">Dia</th>
      <th scope="col">Id Agenda</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor= "let fecha of fechas " routerLink="/proveedor/agenda/{{fecha.agenda.id}}/fecha/{{fecha.id}}">
      <td >{{fecha?.id}}</td>
      <td>{{fecha?.jornada}}</td>
      <td>{{fecha?.dia}}</td>
      <td>{{fecha?.agenda?.id}}</td>
    </tr>
  </tbody>
</table>
</div>


<div class="col-md-5 align-self-center">
    <button *ngIf="!showCreate" [ngClass]="{ 'btn-outline-success': !showCreate, 'btn-outline-light': showCreate }" 
    type="button" class="btn" (click)="showHideCreate()">Crear una fecha</button>
    <div *ngIf="showCreate">
        <app-fecha-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-fecha-create>
      </div>

      <app-anadir-evento></app-anadir-evento>
</div>

</div>

