
  <div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <br>
            <div class="row justify-content-center align-self-center">
                <button [ngClass]="{ 'btn-primary': !showHideCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Registrar sugerencia</button>
            </div>           
            <br>
            <br>
            <div class="card">
                <div class="card-body">       
                    <table class="table table-striped">
                        <thead class="bg-danger">
                            <tr>
                                <th class="h5 theadList">Id de la sugerencia</th>
                                <th class="h5 theadList">Nombre de Usuario</th>
                                <th class="h5 theadList">Comentario</th>

                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr *ngFor = "let sugerencia of sugerencias"
                                (click)="onSelected(author.id)">
                            <td style="cursor: pointer;">
                                <dd class="figure-caption nombreSugerencia" routerLink="/tematica/{{sugerencia.tematica.id}}/sugerencia/{{sugerencia.id}}">{{sugerencia.id}}</dd>
                            </td>
                            <td>{{sugerencia.nombreUsuario}}</td>
                            <td>{{sugerencia.comentario}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-8">

            <div *ngIf="showCreate">
                <app-sugerencia-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-sugerencia-create>
            </div>
        </div> 
    </div>
</div>
