<div class="panel-body">
    <div class="border margin">
        <p class="h3 p-3">{{valoracion.cliente?.nombreUsuario}}<p> 
        <div class="row">
            <div class="col">
                <dl>   
                    <dt>Titulo</dt>
                    <dd>{{valoracion.titulo}}</dd>
                    <dt>Comentario</dt>
                    <dd>{{valoracion.comentario}}</dd>
                    <dt>Puntaje</dt>
                    <dd>{{valoracion.puntaje}}</dd>
                </dl>
            </div>

        </div>
    </div>
    
</div>