
<div class="panel-body">
    <div class="border margin">
        <p class="h3 p-3">Nombre de Usuario: {{valoracion?.nombreUsuario}}<p> 
        <div class="row">
            <div class="col-md-3">
                <dl>     
                    <dt>Nombre del proveedor</dt>
                    <dd>{{valoracion?.proveedor?.nombre}}</dd>
                    <dt>ID del proveedor</dt>
                    <dd>{{valoracion?.proveedor?.id}}</dd>
                    <dt>Puntaje</dt>
                    <dd>{{valoracion?.puntaje}}</dd>
                    <dt>Comentario</dt>
                    <dd>{{valoracion?.comentario}}</dd>
                </dl>
            </div>
            
        </div>
    </div> 
</div>