<div class="panel-body">
    <div class="border margin">
        <p class="h3 p-3">{{clienteDetail.login}}<p> 
        <div class="row">
            <div class="col-md-3">
                <dl>     
                    <dt>Fecha de Nacimiento</dt>
                    <dd>{{clienteDetail.fechaNacimiento}}</dd>
                </dl>
                <div *ngIf="clienteDetail.tarjetaCredito.length > 0">
                        <app-cliente-tarjetacredito [bookReviews]="bookDetail.reviews"></app-cliente-tarjetacredito>
                    </div>
            </div>
            
        </div>
    </div>
   <p class="h3 p-3">Valoraciones de este usuario: </p>
    <!--<app-valoracion-list [valoraciones]="clienteDetail.valoraciones"></app-valoracion-list>-->
</div>