<p class="h2 p-1" style="background-color: #dc3545;color:aliceblue">{{producto.nombre}}<p>

        <div class="row justify-content-center align-self-center">
            <div class="col-md-3">
                <dl>
                    <dt style="background-color: #dc3545;color:aliceblue">Tipo de servicio:</dt>
                    <dd>{{producto.tipoServicio}}</dd>
                    <dt style="background-color: #dc3545;color:aliceblue">Dueño del producto:</dt>
                    <dd>{{producto.duenio}}</dd>
                    <dt style="background-color: #dc3545;color:aliceblue">Costo unitario: </dt>
                    <dd>{{producto.costo}}</dd>
                    <dt style="background-color: #dc3545;color:aliceblue">Cantidad disponible:</dt>
                    <dd>{{producto.cantidad}}</dd>
                </dl>
            </div>
            <div class="col-md-3 align-self-center">
                <td>
                    <button *ngIf="!showEdit" class="btn btn-primary" (click)="showHideEdit(producto.nombre)"><span
                            class="fa fa-pencil"></span>Editar Producto</button>
                </td>
                <div *ngIf="showEdit">
                    <app-producto-edit [producto]="producto" (cancel)="showHideEdit(producto.nombre)" (update)="updateProducto()"></app-producto-edit>
                </div>
                <td>
                        <button class="btn btn-danger" (click)="deleteProducto(producto.nombre)"><span class="fa fa-trash"></span></button>
                </td>
            </div>
        </div>