<p class="h2 p-1" style="background-color: #dc3545;color:aliceblue">{{producto.nombre}}<p> 
    
        <div class="col-md-3" >
            <dl>     
                <dt style="background-color: #dc3545;color:aliceblue">Tipo de servicio:</dt>
                <dd>{{producto.tipoServicio}}</dd>
                <dt style="background-color: #dc3545;color:aliceblue">Dueño del producto:</dt>
                <dd>{{producto.duenio}}</dd>
                <dt style="background-color: #dc3545;color:aliceblue">Costo unitario: </dt>
                <dd>{{producto.costo}}</dd>
                <dt style="background-color: #dc3545;color:aliceblue">Cantidad disponible:</dt>
                <dd>{{producto.cantidad}}</dd>
            </dl>
                 
    </div>
