<div class="row">
        <div class="col-12">
                <br>
                <h2 class="text-center">Editar Tematica</h2>
                <br>
        <form name="tematica" (ngSubmit)="f.form.valid && editTematica()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="tematicaName"><b>Name</b></label>
                <input type="text" name="tematicaName" class="form-control" id="tematicaName" [(ngModel)]="tematicaDetail.name"
                    #tematicaName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && tematicaName.invalid }"
                    required>
                <div class="invalid-feedback">
                    <div>The tematica's name is missing</div>
                </div>
            </div>
        </form>
    </div>
</div>