
<table class="table" *ngIf="eventosManana.length != 0 || eventosTarde.length != 0 || eventosNoche.length != 0">
  <thead>
    <tr>
      <th scope="col"><img src="../../../assets/img/Manana.png" class="iconoJornada" alt=""><br>Manana</th>
      <th scope="col"><img src="../../../assets/img/Tarde.png" class="iconoJornada" alt=""><br>Tarde</th>
      <th scope="col"><img src="../../../assets/img/Noche.png" class="iconoJornada" alt=""><br>Noche</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let evento of eventosManana">
      <td scope="col" >{{evento.nombre}}</td>
      <td></td>
      <td></td>
    </tr>
    <tr *ngFor="let evento of eventosTarde">
      <td></td>
        <td scope="col">{{evento.nombre}}</td>
        <td></td>
      </tr>
      <tr *ngFor="let evento of eventosNoche">
        <td></td>
        <td></td>
          <td scope="col">{{evento.nombre}}</td>
        </tr>
  </tbody>
</table>
<span *ngIf="eventosManana.length == 0 || eventosTarde.length == 0 || eventosNoche.length == 0">No tienes eventos en esta fecha</span>

