<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <h2 class="text-center">Create an tematica</h2>
        <br>
        <form name="tematica" (ngSubmit)="f.form.valid && createTematica()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="tematicaName"><b>Name</b></label>
                <input type="text" name="tematicaName" class="form-control" id="tematicaName" [(ngModel)]="tematica.name"
                    #tematicaName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && tematicaName.invalid }" required>
                <div class="invalid-feedback">
                    <div>The tematica's name is missing</div>
                </div>
            </div>
            <div class="row form-inline justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary">Create</button>
                <div class="divider"></div>
                <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>