<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <br>
            <div class="row justify-content-center align-self-center">
                <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Registrar una valoracion</button>
            </div>
            <br>
            <br>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="h4">Nombre del cliente:</th>    
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let valoracion of valoraciones" >
                        <td style="cursor: pointer;" (click)="onSelected(valoracion.id)"> <dd>{{valoracion.cliente?.nombreUsuario}}</dd></td>
                        
                        <td>
                            <button class="btn btn-primary" (click)="showHideEdit(valoracion.id)"><span class="far fa-edit"></span></button>
                        </td>
                        <td>
                            <button class="btn btn-danger" (click)="deleteValoracion(valoracion.id)"><span class="fas fa-trash"></span></button>
                        </td>
                                                 

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-8">
            <div *ngIf="showView">
                <app-valoracion-detail [valoracion]="selectedValoracion"></app-valoracion-detail>
            </div>
            <div *ngIf="showCreate">
                <app-valoracion-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-valoracion-create>
            </div>
            <div *ngIf="showEdit">
                <app-valoracion-edit [valoracion]="selectedValoracion" (cancel)="showHideEdit(selectedValoracion.id)" (update)="updateValoracion()" ></app-valoracion-edit>
            </div>
        </div>   
    </div>
</div>

