<div class="container-fluid">
    <div class="col-md-2">
        <table class="table table-striped">
            <br>
            <div class="row justify-content-center align-self-center">
                <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Crear un cliente</button>
            </div>
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>    
                    <th>Contraseña</th>
                    <th>correo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let cliente of clientes">
                    <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/clientes/{{cliente.id}}">{{cliente.login}}</dd>
                    </td>
                    
                    <td>{{cliente.contrasenia}}</td>
                    <td>{{cliente.email}}</td>
                </tr>
            </tbody>
        </table>
        <div class="col-md-2">
            <div *ngIf="showCreate">
                <app-cliente-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-cliente-create>
            </div>
        </div>   
    </div>
</div>

