<p class="h2 p-1" style="background-color: #dc3545;color:aliceblue">{{evento.nombre}}<p> 
    
    <div class="col-md-3" >
        <dl>     
            <dt style="background-color: #dc3545;color:aliceblue">Estado:</dt>
            <dd>{{evento.estado}}</dd>
            <dt style="background-color: #dc3545;color:aliceblue">Latitud:</dt>
            <dd>{{evento.latitud}}</dd>
            <dt style="background-color: #dc3545;color:aliceblue">Longitud:</dt>
            <dd>{{evento.longitud}}</dd>
        </dl>
             
</div>
