
<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-static-top bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../assets/img/logoBlack.png" height="63" width="244"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav nav-item">
                    <a id="productoTag" class="nav-link" routerLink="/producto/list">Productos</a>
                </li>
                <li class="nav nav-item">
                        <a id="eventoTag" class="nav-link" routerLink="/evento/list">Eventos</a>
                    </li>
                <li class="nav nav-item">
                    <a id="clientesTag" class="nav-link" routerLink="/clientes/list">Clientes</a>    
                </li>
                <li  class="nav nav-item">
                        <a id="proveedoresTag" class="nav-link" routerLink="/proveedor/list">Proveedores</a>
                </li>
                <li  class="nav nav-item">
                        <a id="notificacionesTag" class="nav-link" routerLink="/notificacion/list">Notificaciones</a>
                </li> 
                <li class="nav nav-item">
                    <a id="tematicaTag" class="nav-link" routerLink="/tematica/list">Tematicas</a>
                </li>
                <li class="nav nav-item">
                    <a id="servicioTag" class="nav-link" routerLink="/servicio/list">Servicios</a>
                </li>
                            <div class="navbar-nav ml-auto flex-column">
                <div class="flex-row">
                    <div class="form-inline">
                        <li class="right-space"><a id="signup-navbar-item" routerLink="/auth/signUp"><span class="fa fa-user"></span>
                                Sign Up </a></li>
                                <br>
                        <li><a id="login-navbar-item" routerLink="/auth/login"><span class="fa fa-sign-in"></span>Login</a></li>
                    </div>
                </div>
                <div class="flex-row">
                    <div class="form-inline">
                        <li><a id="logout-navbar-item" (click)="logout()" href="#"><span class="fa fa-sign-out"></span>Logout</a></li>
                    </div>
                </div>
                <button id="checkout-navbar-item" type="button" class="btn btn-default">
                    <a href="#"><span class="fa fa-shopping-cart"></span>Checkout</a>
                </button>
            </div>
            </ul>
        </div>
    </div>
</nav>

 <div class="list">
        <router-outlet></router-outlet>
    </div>

















