
<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../assets/img2/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav nav-item">
                    <a id="productoTag" class="nav-link" routerLink="/producto/list">Productos</a>
                </li>
                <li class="nav nav-item">
                        <a id="eventoTag" class="nav-link" routerLink="/evento/list">Eventos</a>
                    </li>
                <li class="nav nav-item">
                    <a id="clientesTag" class="nav-link" routerLink="/clientes/list">Clientes</a>    
                </li>
                <li  class="nav nav-item">
                        <a id="proveedoresTag" class="nav-link" routerLink="/proveedor/list">Proveedores</a>
                </li>
                <li  class="nav nav-item">
                        <a id="notificacionesTag" class="nav-link" routerLink="/notificacion/list">Notificaciones</a>
                </li> 
                <li class="nav nav-item">
                    <a id="tematicaTag" class="nav-link" routerLink="/tematica/list">Tematicas</a>
                </li>
                <li class="nav nav-item">
                    <a id="servicioTag" class="nav-link" routerLink="/servicio/list">Servicios</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

 <div class="list">
        <router-outlet></router-outlet>
    </div>

















