<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Party Services!
  </h1>
  <ul class="nav nav-tabs">
        <li class="nav nav-item">
            <a id="productoTag" class="nav-link" routerLink="/producto/list">Productos</a>
        </li>
        <li class="nav nav-item">
            <a id="clientesTag" class="nav-link" routerLink="/clientes/list">Clientes</a>
        </li>
        <li class="nav nav-item">
            <a id="valoracionTag" class="nav-link" routerLink="/valoracion/list">Valoraciones</a>
        </li>
    </ul>

    
    <div class="list">
        <router-outlet></router-outlet>
    </div>
</div>



