<div class="row">
    <div class="col-12">
        <br>
        <h2 class="text-center">Editar esta valoracion</h2>
        <br>
        <form name="valoracion" (ngSubmit)="f.form.valid && editValoracion()" #f="ngForm" novalidate>
              
              
            <div class="form-group">
                <label for="valoracionComentario"><b>Comentario</b></label>
                <input type="text" name="valoracionComentario" class="form-control" id="valoracionComentario" [(ngModel)]="valoracion.comentario"
                       #valoracionComentario="ngModel" [ngClass]="{ 'is-invalid': f.submitted && valoracionComentario.invalid }" required>
                       <div class="invalid-feedback">
                    <div>The valoracion's comentario is missing</div>
                </div>
            </div>
             
              
                    <div class="form-group">
                        <label for="puntaje"><b>Puntaje</b></label>
                        <select title="Selecciona el puntaje"   class="custom-select" id="puntaje" [(ngModel)]="valoracion.puntaje" [ngModelOptions]="{standalone: true}"  >
                                <option value=10>10</option>
                              <option value=9>9</option>
                               <option value=8>8</option>
                               <option value=7>7</option>
                               <option value=6>6</option>
                               <option value=5>5</option>
                               <option value=4>4</option>
                               <option value=3>3</option>
                               <option value=2>2</option>
                               <option value=1>1</option>
                               <option value=0>0</option>


                        </select>
                    </div>
              
                       
              
              
            
        </form>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row form-inline justify-content-center align-self-center">
            <i  style="padding-right: 1em;"class="btn-outline-success" (click)="editValoracion()">Guardar</i>
          
            <i class="btn-outline-danger" (click)="cancelEdition()">Cancelar</i>
        </div>
    </div>
</div>
<br>
<br>