<div class="row">
  <div class="col-12">
    <br>
    <h2 class="text-center">Editar producto</h2>
    <br>
    <form name="producto" (ngSubmit)="f.form.valid && editProducto()" #f="ngForm" novalidate>
      <div class="form-group">
          <label for="productoCosto"><b>Costo</b></label>
          <input type="number" name="productoCosto" class="form-control" id="productoCosto" [(ngModel)]="producto.costo"
            #productoCosto="ngModel" [ngClass]="{ 'is-invalid': f.submitted && productoCosto.invalid }" required>
          <div class="invalid-feedback">
            <div>The producto's cost is missing</div>
          </div>
        </div>
        <div class="form-group">
            <label for="productoCantidad"><b>Cantidad</b></label>
            <input type="number" name="productoCantidad" class="form-control" id="productoCantidad" [(ngModel)]="producto.cantidad"
              #productoCantidad="ngModel" [ngClass]="{ 'is-invalid': f.submitted && productoCantidad.invalid }" required>
            <div class="invalid-feedback">
              <div>The producto's cantidad is missing</div>
            </div>
          </div>

    </form>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="row form-inline justify-content-center align-self-center">
      <button type="submit" class="btn btn-primary" (click)="editProducto()">Guardar</button>
      <button type="button" class="btn btn-danger" (click)="cancelEdition()">Cancelar</button>
    </div>
  </div>
</div>