<div class="panel-body">
    <div class="border margin">
        <p class="h3 p-3">{{proveedorDetail.login}}<p> 
        <div class="row">
            <div class="col-md-3">
                <dl>     
                    <dt>Agenda</dt>
                    <dd>{{proveedorDetail.agenda}}</dd>
                       <dd><b routerLink="/proveedor/agenda/{{proveedor?.agenda?.id}}">{{proveedor?.agenda?.id}}</b ></dd>
                </dl>
            </div>
            
        </div>
    </div>
   <p class="h3 p-3">Productos de este proveedor : </p>

    <!--<app-producto-list [Productos]="productoDetail.productos"></app-productos-list>-->
</div>