<div class="panel-body">
    <div class="border margin">
        <h1><span class="badge badge-secondary" style="background-color:#dc3545">{{proveedorDetail.nombre}}</span> </h1>
        <div class="row">
            <div class="col-md-3">
                <dl>     
                    <dt>Agenda</dt>
                      <button class="btn btn-primary" routerLink="/proveedor/agenda/{{proveedorDetail.agenda.id}}"><span class="fa fa-calendar"></span> Ver mi agenda</button>
                </dl>
            </div>
            
        </div>
    </div>
   <p class="h3 p-3">Productos de este proveedor: </p>

    <div class="col-md-3">
      <table class="table table-bordered">
        <thead style="background-color: #dc3545;color:aliceblue">
          <tr>
            <th>Productos</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of productos">
     
              <div *ngIf="compare(producto.proveedor.nombre, proveedorDetail.nombre)">
              <dd class="figure-caption" routerLink="/producto/{{producto.nombre}}">{{producto.nombre}}</dd>
              </div>
            <br>
          </tr>
        </tbody>
      </table>
    </div>
    <!--<app-producto-list [Productos]="productoDetail.productos"></app-productos-list>-->
                <br>
            <div class="row justify-content-center align-self-center">
                <button [ngClass]="{ 'btn-outline-success': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Agregar Producto</button>
            </div>   
                <div class="col-9">
            
            <div *ngIf="showCreate">
                <app-producto-create (cancel)="showHideCreate()" [proveedor]="proveedorDetail" (create)="ngOnInit()"></app-producto-create>
            </div>
        </div> 
                <div class="col-9">
                <button class="btn btn-primary" (click)="showHideEdit(proveedorDetail.id)" >Editar</button>
                <app-proveedor-edit *ngIf="showEdit" [proveedor]="proveedorDetail" (cancel)="cancelarEdicion()" (update)="actualizarProveedor()"></app-proveedor-edit>
                <button class="btn btn-primary" (click)="deleteProveedor(proveedorDetail.id)" routerLink="/proveedor/list"><span class="fa fa-trash"></span>Eliminar cuenta</button>
                </div> 
                <br>
</div>