<div class="container-fluid">
  <div class="col-md-6">
    <table class="table table-bordered">
      <thead class="bg-danger">
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Comentario</th>
          <th>Calificacion</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let valoracion of valoraciones" routerLink="/proveedor/{{valoracion.proveedor.id}}/valoracion/{{valoracion.id}}">
          <td><span>{{valoracion.id}}</span></td>
          <td>{{valoracion.nombre}}</td>
          <td>{{valoracion.comentario}}</td>
          <td>{{valoracion.calificacion}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>