<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <br>
            <div class="row justify-content-center align-self-center">
                <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Registar valoracion</button>
            </div>
            <br>
            <br>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="h4">Nombre del cliente</th>    
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let valoracion of valoraciones" >
                        <td style="cursor: pointer;" (click)="onSelected(valoracion.id)"> <dd>{{valoracion.cliente?.nombreUsuario}}</dd></td>
                        <td>
                            <i class="fa fa-pencil" 
                                (click)="showHideEdit(valoracion.id)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-8">
            <div *ngIf="showView">
                <app-valoracion-detail [valoracion]="selectedValoracion"></app-valoracion-detail>
           
        </div>   
    </div>
</div>


