<h1>Agenda del proveedor <span class="badge badge-secondary" style="background-color:#dc3545">{{agenda?.proveedorDTO?.nombre}}</span></h1>
Id: {{agenda?.id}}
<div class="row" style="padding:20px">
 
  <div class="col">
    <table class="table">
      <tbody>
        <tr style="background-color: #dc3545;color:aliceblue">
         
            <td> <b>Id agenda:</b> </td>
            <td> <b>{{agenda?.id}} </b></td>
          
        </tr>
        <tr>
            <td><b>Jornada lunes no trabaja:</b> </td> 
            <td>{{agenda?.jornadaLunesND}}</td>
        </tr>
        <tr>
          <td><b>Jornada martes no trabaja:</b> </td>
          <td>{{agenda?.jornadaMartesND}}</td>
        </tr>
        <tr>
            <td><b>Jornada miercoles no trabaja:</b> </td>
            <td>{{agenda?.jornadaMiercolesND}}</td>
        </tr>
        <tr>
            <td><b>Jornada jueves no trabaja:</b> </td>
            <td>{{agenda?.jornadaJuevesND}}</td>
        </tr>
        <tr>
            <td><b>Jornada viernes no trabaja:</b> </td>
            <td>{{agenda?.jornadaViernesND}}</td>
        </tr>
        <tr>
            <td><b>Jornada sabado no trabaja:</b> </td>
            <td>{{agenda?.jornadaSabadoND}}</td>
        </tr>
        <tr>
            <td><b>Jornada domingo no trabaja:</b> </td>
            <td>{{agenda?.jornadaDomingoND}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col">
    <div class="row">
      <b>Fecha penitencia: </b>{{agenda?.fechaPenitencia}}<br>
    </div>
    <div class="row">
      <h2 routerLink="/proveedor/agenda/{{agenda?.id}}/fecha/list">Ver mis fechas</h2>
    </div>
    <div class="row">
        <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker></div>
  </div>
</div>


<app-agenda-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-agenda-create>