<p>
  agenda-detail works!
</p>
<b>Id agenda: </b>{{agenda?.id}}<br>
<b>Fecha penitencia: </b>{{agenda?.fechaPenitencia}}<br>
<b>Jornada lunes no trabaja: </b>{{agenda?.jornadaLunesND}}<br>
<b>Jornada martes no trabaja: </b>{{agenda?.jornadaMartesND}}<br>
<b>Jornada miercoles no trabaja: </b>{{agenda?.jornadaMiercolesND}}<br>
<b>Jornada jueves no trabaja: </b>{{agenda?.jornadaJuevesND}}<br>
<b>Jornada viernes no trabaja: </b>{{agenda?.jornadaViernesND}}<br>
<b>Jornada sabado no trabaja: </b>{{agenda?.jornadaSabadoND}}<br>
<b>Jornada domingo no trabaja: </b>{{agenda?.jornadaDomingoND}}<br>
