<h1>Agenda del proveedor <span class="badge badge-secondary" style="background-color:#dc3545">{{agenda?.proveedorDTO?.nombre}}</span></h1>

<div class="row" style="padding:20px">
 
  <div class="col-md-7">
    <div *ngIf="!showEdit">
    <table class="table">
      <tbody>
        <tr style="background-color: #dc3545;color:aliceblue">
         
          <td colspan="4">
              <b>
                  Jornadas no laborales
              </b>
          </td>
          
        </tr>
        <tr>
            <td><b>Lunes:</b> </td> 
            <td>{{agenda?.jornadaLunesND}}</td>
            <td><b>Viernes:</b> </td>
            <td>{{agenda?.jornadaViernesND}}</td>
        </tr>
        <tr>
          <td><b>Martes:</b> </td>
          <td>{{agenda?.jornadaMartesND}}</td>
          <td><b>Sabado:</b> </td>
            <td>{{agenda?.jornadaSabadoND}}</td>
        </tr>
        <tr>
            <td><b>Miercoles:</b> </td>
            <td>{{agenda?.jornadaMiercolesND}}</td>
            <td><b>Domingo:</b> </td>
            <td>{{agenda?.jornadaDomingoND}}</td>
        </tr>
        <tr>
            <td><b>Jueves:</b> </td>
            <td>{{agenda?.jornadaJuevesND}}</td>
            <td></td>
            <td></td>
        </tr>
      
      </tbody>
    </table>
    <button class="btn btn-primary" (click)="showHideEdit()">Editar</button>
    
  </div>
  <app-agenda-edit *ngIf="showEdit" [agenda]="agenda" (cancel)="cancelarEdicion()" (update)="actualizarAgenda()"></app-agenda-edit> 

    

  </div>
  <div class="col-md-5">
      <div class="row  align-items-center" >
          <img style="display: block;" src="../../../assets/img/agenda.png" class="img-fluid" style="max-width: 10em;max-height: 10em;" alt="">
        </div>
        <div class="row">
          <b *ngIf="agenda?.fechaPenitencia!=null">Fecha penitencia: </b>{{agenda?.fechaPenitencia}}
          <b *ngIf="agenda?.fechaPenitencia==null">No estas penitenciado</b><br>
        </div>
        <div class="row">
          <button class="btn btn-primary" routerLink="/proveedor/agenda/{{agenda?.id}}/fecha/list">Ver listado de mis fechas</button>
        </div>
  </div>
</div>
<div class="row" style="padding:20px">
  
    
    <div class="col-md-5">
        <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" (click)="clickCalendar()"></ngb-datepicker>
        
    </div>
    <div class="col-md-5">
        <app-fecha-dia [dia]="model.year+'-'+model.month+'-'+model.day"></app-fecha-dia>
    </div>
 
</div>


 <!--
   <app-agenda-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-agenda-create>
 -->