
<h2 class="text-center card-title">Registro de una fecha</h2>
<form name="fecha" (ngSubmit)="f.form.valid && crearFecha()" #f="ngForm" novalidate>
<div class="form-group">
<label for="jornada"><b>Jornada</b></label>
  <select title="Selecciona la jornada"   class="custom-select" id="jornada" [(ngModel)]="fecha.jornada" [ngModelOptions]="{standalone: true}"  >
    <option value="Manana" [ngValue]="Manana">&#9728; Manana</option >
    <option value="Tarde"  [ngValue]="Tarde">&#9925; Tarde</option>
    <option value="Noche"  [ngValue]="Noche">&#9733; Noche</option>
  </select>
</div>

<div class="form-group">
  <label for="dia"><b>Fecha</b></label>
  <div [ngClass]="{ 'is-invalid': f.submitted && dia.invalid }">
      <input class="form-control" id="clienteFechaNacimiento" name="dia" [(ngModel)]="fecha.dia" 
          ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" #clienteFechaNacimiento="ngModel" [ngClass]="{'is-invalid': f.submitted && (dia.untouched || dia.invalid) }"
          required>
      <div class="invalid-feedback">
          <div>No se seleccionó una fecha</div>
      </div>
  </div>
</div>




<div class="row form-inline justify-content-center align-self-center">
  <button type="submit" class="btn btn-primary">Crear</button>
  <div class="divider"></div>
  <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancelar</button>
</div>