<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <br>
            <h2 class="text-center">Añadir valoracion</h2>
            <br>
            <form name="valoracion" (ngSubmit)="f.form.valid && createValoracion()" #f="ngForm" novalidate>
                
                <div class="form-group">
                    <label for="valoracionDescription"><b>Comentario</b></label>
                    <textarea name="valoracionDescription" class="form-control" id="valoracionDescription" [(ngModel)]="valoracion.comentario"
                        #valoracionDescription="ngModel" [ngClass]="{ 'is-invalid': f.submitted && valoracionDescription.invalid }"
                        required></textarea>
                    <div class="invalid-feedback">
                        <div>The valoracion's comment is missing</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="valoracionCliente"><b>Cliente</b></label>
                    <select class="custom-select" name="valoracionCliente" id="valoracionCliente" [(ngModel)]="valoracion.cliente.id"
                        #valoracionCliente="ngModel" [ngClass]="{ 'is-invalid': f.submitted && valoracionCliente.invalid }"
                        required>
                        <option [value]="cliente.id" *ngFor="let cliente of clientes">{{cliente.nombreUsuario}}</option>
                    </select>
                    <div class="invalid-feedback">
                        <div>The valoracion's Cliente is missing</div>
                    </div>
                </div>
                <br>
                <div class="row form-inline justify-content-center align-self-center">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <div class="divider"></div>
                    <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
                </div>
            </form>
            <br>
        </div>
    </div>
</div>
<br>
<br>